.bundle/
log/*.log
pkg/
test/app/db/*.sqlite3
test/app/db/*.sqlite3-journal
test/app/config/database.yml
test/app/log/*.log
test/app/tmp/
test/app/.sass-cache
*.gem
doc/
.yardoc

# Do not keep Gemfile.lock in repo
# http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock