.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/config/database.yml
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
*.gem
doc/
.yardoc
.DS_Store

test_old/app/db/*.sqlite3
test_old/app/db/*.sqlite3-journal
test_old/app/config/database.yml
test_old/app/log/*.log
test_old/app/tmp/
test_old/app/.sass-cache
