!!!
%html.login
  %head
    %title #{@page_title} - Shoppe
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag 'shoppe/sub'
    = javascript_include_tag 'shoppe/application'
  %body
    #content
      = yield
