- @page_title = t('shoppe.countries.countries')

= content_for :header do
  %p.buttons= link_to t('shoppe.countries.back') , :countries, :class => 'button'
  %h2.countries= t('shoppe.countries.countries')

= render 'form'
