<p>Your order has been rejected - no payment has been taken from your card. This is most likely due an issue with payment  or our over-sensitive fraud checking.</p>

<p>If you wish to continue with the order, please contact us as soon as possible and we can discuss the situation in more detail.</p>

<p>Order Number: <%=@order.number%></p>