- @page_title = t(:delivery_services)
= content_for :header do
  %p.buttons= link_to t(:back_to_delivery_services), :delivery_services, :class => 'button'
  %h2.delivery_services= t(:delivery_services)
= render 'form'