- @page_title = "Delivery Services"
= content_for :header do
  %p.buttons= link_to "Back to delivery services", :delivery_services, :class => 'button'
  %h2.delivery_services Delivery Services
= render 'form'