- @page_title = t('shopr.delivery_service_prices.delivery_services')

= content_for :header do
  %p.buttons= link_to t('shopr.delivery_service_prices.back'), [@delivery_service, :delivery_service_prices], :class => 'button'
  %h2.delivery_services= t('shopr.delivery_service_prices.delivery_services')
= render 'form'
