- @page_title = t(:product_category_edit)
= content_for :header do
  %p.buttons= link_to t(:product_categories_back), :product_categories, :class => 'button'
  %h2.products= t(:product_category_edit)
= render 'form'
 