- @page_title = t(:product_categories)

= content_for :header do
  %p.buttons=link_to t(:product_category_new), :new_product_category, :class => 'button green'
  %h2.products= t(:product_categories)

.table
  %table.data
    %thead
      %tr
        %th= t(:name)
    %tbody
      - if @product_categories.empty?
        %tr.empty
          %td=(:product_categories_none)
      - else
        - for cat in @product_categories
          %tr
            %td= link_to cat.name, [:edit, cat]
