@import 'variables';

//
// Buttons styles
//
.button {
  border:0;
  padding:0;
  background:none;
  text-decoration:none;
  font-size:12px;
  font-weight:500 !important;
  text-transform:uppercase;
  font-family:$font;
  color:#fff !important;
  padding:8px 20px;
	border-radius:30px;
  background-color:#40454D;
  display:inline-block;
  &:active {
    background:#535963;
  }
  
  &.green {
    background-color:#96BF48;
    border-color:#96BF48;
    border-bottom-color:#86a350;
    &:active { background-color:#A8D750}
  }

  &.loading {
    background-image:url(/images/spinners/button-green.gif);
    background-repeat:no-repeat;
    background-position:50% 50%;
    color:transparent !important;
  }
  
  &.purple {
    background-color:#C17391;
    border-color:#C17391;
    border-bottom-color:#a7667f;
    &:active { background:#DC83A6}
  }
  
  &.orange {
    background-color:#c8541b;
    border-color:#c8541b;
    border-bottom-color:#974117;
    &:active { background:#e75d19}
  }

  &.grey {
    background-color:#777;
    border-color:#777;
    border-bottom-color:#777;
    &:active { background:#888}
  }

	&.white {
		background-color:#fff;
		color:#333 !important;
	}
	
	&.white-green {
		background-color:#fff;
		color:#96BF48 !important;
	}
  
  
  &.button-mini {
    font-size:11px;
    padding:4px 10px;
    box-shadow:none;
    font-weight:normal;
    text-shadow:none;
    text-transform:none;
  }
  
}
