/*
 *= require shoppe/reset
*/
html { font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#000; font-size:12px;background:#efefef;}
#content {
	background:#fff;
	margin:5%;
	outline:1px solid #ccc;
	padding:35px;
}

div.despatchNote {
	header {
		float:left;
		h1 {
			font-size:1.8em;
			font-weight:300;
		}
		h2 { margin-top:5px; font-size:2.3em; font-weight:500; }
		width:40%;
	}
	
	.address {
		border:1px solid #000;
		padding:25px;
		margin-left:45%;
		line-height:1.5;
		font-size:1.3em;
		p.name { font-size:1.2em; font-weight:500;}
	}
	table.details {
		width:100%;
		margin:25px 0;
		td, th {
			border:1px solid #000;
			padding:10px;
			text-align:center;
		}
		th { background:#efefef;}
	}
	
	table.items {
		width:100%;
		margin:25px 0;
		td, th {
			border:1px solid #000;
			padding:10px;
			text-align:center;
			&.check { width:5%;}
		}
		th { background:#efefef;}
	}
	
	p.footer {
		font-size:1.2em;
		border:1px solid #000;
		padding:15px;
		text-align:center;
	}
}


@media print {
	html { background:none;}
	body {margin:5%;}
	#content { margin:0; padding:0; outline:0;}
}