- @page_title = "Delivery Services"
= content_for :header do
  %p.buttons= link_to "Back to prices", [@delivery_service, :delivery_service_prices], :class => 'button'
  %h2.delivery_services Delivery Services
= render 'form'