- @page_title = t('shoppe.users.users')

= content_for :header do
  %p.buttons= link_to t('shoppe.users.back_to_users'), :users, :class => 'button'
  %h2.users= t('shoppe.users.users')

= render 'form'
