- @page_title = 'Edit Address'
= content_for :header do
  %p.buttons= link_to t('shoppe.addresses.back_to_customer'), @customer, :class => 'button'
  %h2.users t('shoppe.addresses.addresses')
= render 'form'
